<h1>Listing employees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Employeenum</th>
    <th>Contract</th>
    <th>Position</th>
    <th>Workperformed</th>
    <th>Hourworked</th>
    <th>Phsaccredited</th>
    <th>Salarygoodsorservicesreceived</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.employeeNum %></td>
    <td><%= employee.contract %></td>
    <td><%= employee.position %></td>
    <td><%= employee.workPerformed %></td>
    <td><%= employee.hourWorked %></td>
    <td><%= employee.PHSAccredited %></td>
    <td><%= employee.salaryGoodsOrServicesReceived %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
