<h1>Listing founders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Fundaccontnum</th>
    <th>Phsheld</th>
    <th>Preferredshares</th>
    <th>Phsorigin</th>
    <th>Memberships</th>
    <th>Riskcapital</th>
    <th>Specialcompensation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @founders.each do |founder| %>
  <tr>
    <td><%= founder.name %></td>
    <td><%= founder.fundAccontNum %></td>
    <td><%= founder.PHSHeld %></td>
    <td><%= founder.preferredShares %></td>
    <td><%= founder.PHSOrigin %></td>
    <td><%= founder.memberships %></td>
    <td><%= founder.riskCapital %></td>
    <td><%= founder.specialCompensation %></td>
    <td><%= link_to 'Show', founder %></td>
    <td><%= link_to 'Edit', edit_founder_path(founder) %></td>
    <td><%= link_to 'Destroy', founder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Founder', new_founder_path %>
