<h1>Listing suppliers</h1>

<table>
  <tr>
    <th>Supplier</th>
    <th>Accountnum</th>
    <th>Invoicenum</th>
    <th>Excepionaldiscount</th>
    <th>Phsaccorded</th>
    <th>Totalphs</th>
    <th>Goodsservicesreceived</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%= supplier.supplier %></td>
    <td><%= supplier.accountNum %></td>
    <td><%= supplier.invoiceNum %></td>
    <td><%= supplier.excepionalDiscount %></td>
    <td><%= supplier.PHSAccorded %></td>
    <td><%= supplier.TotalPHS %></td>
    <td><%= supplier.GoodsServicesReceived %></td>
    <td><%= link_to 'Show', supplier %></td>
    <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
    <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Supplier', new_supplier_path %>
